@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: monospace;
    margin: 0;
    background-color: #EEE;
}

html:not([data-scroll='0']) {    
    #header {
        box-shadow: 0px 3px 20px rgba(0,0,0,0.2);
    }
}
  

#pageContainer {
    width: 100%;
    height: 80%;
    position: absolute;
    background: linear-gradient(#F6F6F6, #EEE)
}

#main {
    background-color: #040404;
    filter: blur(0.5px);
    border-radius: 40px;
    width: auto;
    height: 100%;
    margin: 10px;
    overflow: hidden;
    white-space: nowrap;
    color: rgba(125, 157, 223, 0.2);
    /* color: #DDD; */
    font-size: 20pt;
    line-height: 1;
    text-align: center;
    /* border: solid 1px #CCC; */
    box-shadow: 0px 3px 20px rgba(0,0,0,0.2);
}

#landingText {
    font-size: 56pt;
    position: absolute;
    z-index: 4;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 20%;
    text-align: center;
    color: #FFF;
}

.landingText {
    color: #FFF!important;
    font-weight: bold;
    text-decoration: none;
    border: solid 1px transparent;
    transition: all 0.1s;
}

.landingText:hover {
    /* color: #226ed1!important; */
    cursor: pointer;
    border: solid 1px #023c88;
}



.bg-row {
    line-height: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.scanlines:before {
    background: linear-gradient(hsla(0,16%,17%,0) 50%,rgba(0,0,0,.05) 0),linear-gradient(90deg,rgba(255,0,0,.06),rgba(0,255,0,.02),rgba(0,0,255,.06));
    background-size: 100% 2px,3px 100%;
    bottom: 0;
    content: " ";
    display: block;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.contentContainer {
    margin: 20px;
}
.contentContainer > div {
    padding-top: 20px;
}

.bodyText {
    font-size: large;
}

#header {
    position: fixed;
    background-color: #F6F6F6;
    width: 100%!important;
    height: auto;
    top: 0;
    z-index: 10;
}

#footer {
    width: 100%!important;
    padding: 20px 0 20px 0;
    background-color: rgba(125, 157, 223, 0.2);
}
#footer > p {
    margin: 20px;
}


.projectsScrollMenu {
    overflow: auto;
    white-space: nowrap;
    margin: 0 -20px 0 -20px;
}
  
.projectsScrollMenu a {
    display: inline-block;
    color: white;
    background-color: #FFFFFF;
    border-radius: 12px;
    width: 50%; height: 40px;
    text-align: center;
    padding: 20px;
    margin-left: 20px;
    text-decoration: none;
}